.admin-base-form {
    padding-top: 75px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
    border-radius: 20px;
    width: 1055px;
}

.base-for-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
    text-transform: uppercase;

}

.base-form-actions {
    margin-top: 70px;
    text-align: right;

}